<footer class="container text-center">
    <div class="foot-icons d-flex justify-content-center align-items-bottom">
      <a data-lity href="//vimeo.com/380387286" style="margin-top:5px">
        <img src="/media/rugby.svg" alt="Rugby icon">
      </a>
      <a data-lity href="//vimeo.com/380386466">
        <img src="/media/banjo.svg" alt="Banjo Icon">
      </a>
      <a data-lity href="//vimeo.com/380388262" style="margin-top:5px">
        <img src="/media/cat.svg" alt="Cat icon">
      </a>
      <a data-lity href="//vimeo.com/382096474" style="margin-top:5px">
        <img src="/media/soccer.svg" alt="Soccer icon">
      </a>
      <a data-lity href="//vimeo.com/380390151" style="margin-top:5px">
        <img src="/media/shoe.svg" alt="Banjo Icon">
      </a>

    </div>
</footer>
