<footer class="container text-center">
    <div class="foot-icons d-flex justify-content-center align-items-bottom">
      <a href="/media/rupert.mov">
        <img src="/media/cat.svg" alt="Cat icon">
      </a>
      <a target="_blank" href="https://caes.ucdavis.edu">
        <img src="/media/rugby.svg" alt="CAES logo">
      </a>
      <a target="_blank" href="https://caes.ucdavis.edu">
        <img src="/media/soccer.svg" alt="CAES logo">
      </a>
      <a target="_blank" href="https://caes.ucdavis.edu">
        <img src="/media/banjo.svg" alt="CAES logo">
      </a>
    </div>
</footer>
