html {
  height:100%;
}
body {
  background: url("/media/white_sand.png");
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  height:100%;
}
.page-wrap {
flex: 1 0 auto;
}
.paintbrush {
  padding:2% 0 3% 0;
}
.carousel-item {
  width:inherit;
}
.carousel-indicators li {
  background-color: $primary-font;
  width:8px;
  height:8px;
  border-radius:50%;
}
.outsourced {
  list-style: none;
  margin-top:3%;
  li {
    display: inline;
    a {
      color:$primary-font;
      font-size:3rem;
      padding:8px 16px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.foot-icons {
}
footer {
  padding:1.25% 0;
  flex-shrink: 0;
  a {
      display: block;
      padding:0 1.5%;
  }
}
