// baseline typography
html {
    font-size: 8px;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    line-height: 1.5;
    @include breakpoint(sm) {
      font-size:10px;
    }
}
body {
    font-family: $black-gate;
}
a {
  color:$a-link;
  &:hover {
    color:$primary-color;
  }
}
p a {
  font-weight: 700;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }

}
a.no-underline {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul, ol {
  &.no-list-style {
    list-style-type: none;
    padding-left:0px;
    li {
      margin:4px 0px;
      color:$primary-font;
    }

  }
  &.two-col {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  }
  li {
    font-size:1.6rem;
    &.person-label {
      color:$secondary-font;
    }
  }
}

p, span, div {
  font-size:2.4rem;
  color:$primary-font;
  // margin:1.2rem 0rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $primary-font;
    // margin: 1.6rem 0rem 1rem 0rem;
}
h1 {
  font-size:4.6rem;
}
h2 {
  font-size:8rem;
  line-height:50px;
}
h3 {
  font-size:3.6rem
}
